html {
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background-color: rgb(249, 238, 226) !important;
}

.opacity-down{
  opacity: 0;
  transition: 1s all;
}
.opacity-up{
  opacity: 1;
}

h2 {
  cursor: default;
  color: rgb(61, 39, 28);
}

#mid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 40vh; */
  color: white;
  z-index: 1;
  /* background-image: url('https://061a38cc1e.clvaw-cdnwnd.com/6bcaeae67997544c7cf5f5587b1cbe32/200000000-4188a42862/exter_3.jpg'); */

  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  transition: background-image 1s ease;
}

.mid-bg-1 {
  background-image: url(./images/uvodni.jpg);
}

.mid-bg-2 {
  background-image: url(./images/bazenfotka.jpg);
}
.mid-bg-3 {
  background-image: url(./images/pokojfotka.jpg);
}
.mid-bg-4 {
  background-image: url(./images/sauna.jpg);
}
.mid-bg-5 {
  background-image: url(./images/zamecek_v_noci.jpg);
}
#mid-text h1 {
  font-size: 70px;
  z-index: 1;
  animation: maskUp 1s;
}
#mid-text p {
  font-size: 30px;
  font-weight: lighter;
  z-index: 1;
}
#divider {
  background-color: white;
  width: 40vw;
  height: 1px;
  margin-bottom: 1vh;
}
#background-image {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.navbar {
  z-index: 2;
  height: 10px;
  color: white !important;
  /* background-color: rgba(0, 0, 0, 0.365); */
  /* transition: 1s all; */
  /* background-color: rgb(61, 39, 28); */
}
.navbg {
  /* background-color: rgba(0, 0, 0, 0.365) ; */
  background-color: rgb(219, 212, 205);
}
.navbar * {
  transition: 1s all;
}

.navbar {
  animation: navSlideDown 1s;
}
.nav-item {
  transition: 1s all;
}

div#navbg {
  /* background-color: rgba(255, 255, 255, 0.113); */
  /* background-color: rgb(219, 212, 205) ; */
  /* background-color: rgb(249, 238, 226); */
  background-color: #504538;
}

.nav-item {
  transition: 0.2s all;
}
.scaleUp {
  transition: 0.2s all;
}
.scaleUp:hover {
  transform: scale(105%);
}

.dropdown-menu {
  color: white;
}
.dropdown-item {
  color: black !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
  /* remove the gap so it doesn't close */
}

.dropdown-menu .dropdown-toggle:hover {
  background-color: rgba(0, 0, 0, 0.041);
  border-radius: 10px;
}

.navbar-expand-lg {
  background-color: rgb(219, 212, 205);
}

.mobile-reserve-container {
  display: none;
}
.mobile-ubyt-carousel {
  display: none;
}
.ubyt-card button {
  transform: scale(120%);
}
.ubyt-card button:hover {
  transform: scale(130%);
}

@media (max-width: 767px) {
  .dropdown:hover > .dropdown-menu {
    display: none;
  }
  .scaleUp:hover {
    transform: scale(100%);
  }

  .dropdown:hover > .dropdown-menu {
    display: none;
    margin-top: 0;
  }
  #divider {
    display: none;
  }
  #mid-text {
    /* margin-top: 12vh; */
    color: white;
    /* background-position: 30%; */
    /* background-size: 100vw 70vh; */
    background-size: cover;
  }

  .mid-bg-1 {
    background-image: url(./images/uvodni.jpg);
    background-position: 50%;
  }

  .mid-bg-2 {
    background-image: url(./images/bazenfotka.jpg);
    background-position: 30%;
  }
  .mid-bg-3 {
    background-image: url(./images/pokojfotka.jpg);
    background-position: 30%;
  }
  .mid-bg-4 {
    background-image: url(./images/sauna.jpg);
    background-position: 30%;
  }
  #mid-text h1 {
    text-align: center;
  }
  #mid-text p {
    text-align: center;
  }

  .card {
    max-width: 100vw;
  }

  .new {
    min-width: 70vw;
  }

  .ubyt-card {
    flex-direction: column !important;
  }

  .pc-carousel {
    display: none;
  }
  .ubyt-card button {
    transform: scale(120%);
  }

  .ubyt-card h2 {
    margin-top: 40px !important;
  }
  .mobile-ubyt-carousel {
    display: flex !important;
    transform: scale(110%);
    align-self: center;
    margin-top: 40px !important;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.396); */
  }

  .pokoj-container {
    flex-direction: column !important;
    align-items: center;
  }
  .pokoj-container .carousel {
    width: 400px !important;
  }
  .header-container button,
  .header-container p {
    display: none;
  }
  .mobile-reserve-container {
    display: flex;
    gap: 0px !important;
    margin-top: 0;
  }

  /* .new img{
        min-width: 70vw;
        justify-self: center;
        
         */

  footer {
    flex-direction: column !important;
    height: 1000px !important;
  }
  .footer-div {
    flex-direction: column;
  }
  .footer-div h2 {
    text-align: center;
    font-size: 50px;
  }
  iframe {
    width: 350px;
  }
}

.navbar {
  z-index: 2;
  height: 60px;

  color: white !important;
  /* transition: 1s all; */
  /* background-color: rgb(61, 39, 28); */
}

.dropdown-menu {
  animation: slideDown 0.4s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes navSlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}



.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.news-container h2 {
  font-size: 40px;
  text-align: center;
}
.new {
  background-color: white !important;
  padding: 10px;
  border: none !important;
  display: flex;
  flex-direction: row;
}

.new h3 {
  font-size: 40px;
}
.new img {
  max-width: 43vw;
  margin-bottom: 1vh;
  border-radius: 5px 5px 0px 0px;
}

.cards-container {
  display: flex;
  flex-direction: row;
}

.card {
  max-width: 45vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.card-text-hidden {
  display: none;
  animation: hideText 1s;
}

.card-text-show {
  display: block;
  animation: showText 1s;
}

@keyframes showText {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes hideText {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

#more-button {
  color: black;
}

#contact-header {
  text-align: center;
  font-size: 40px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.kontakt {
  display: flex;
  justify-content: center;
}
.kontakt_text {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.phone-number {
  display: flex;
  flex-direction: row;
  margin-right: 7vw;
}
.phone-number-text {
  align-self: center;
  justify-self: center;
  margin-top: 1vh;
  margin-left: 2vw;
}

.phone-number img {
  width: 3vw;
}
.mail img {
  width: 4vw;
}
.mail p {
  margin-left: 1vw;
}

.location p {
  margin-left: 1vw;
}
.sizeup {
  transition: 0.5s all;
}
.sizeup:hover {
  transform: scale(105%);
}
iframe {
  border-radius: 10px;
  border: 1px solid black;
  /* margin-bottom: 10vh; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
  transition: 1s all;
  max-width: 400px;
  max-height: 250px;
}
iframe:hover {
  transform: scale(105%);
}

.galery-header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.gallery-container,
.gallery-container2 {
  display: flex;
  justify-content: center;
  gap: 5vw;
  max-width: 100vw;
  flex-wrap: wrap;
  transition: 1s all;
}

.gallery-container2 {
  animation: slideUp 1s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.btn {
  /* background-color: rgb(61, 39, 28); */
  /* background-color: rgb(219, 212, 205) ; */
  background-color: #504538;
  outline: none;
  border: none;
  transition: 0.5s all;
  color: rgb(255, 255, 255);
}
.btn:active {
  background-color: transparent !important;
}

.btn:hover {
  transform: scale(105%);
  /* background-color: rgb(219, 212, 205) ; */
  background-color: #504538;
}

.more-photos-button {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  transition: 1s;
  color: white;
}
#more-photos-button {
  padding-left: 5vw;
  color: white;
  padding-right: 5vw;
}

.gallery-container2-hidden {
  display: none;
  opacity: 0%;
  transition: 1s all;
}

.card {
  transition: 0.5s all;
}

#less-photos-button {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 5vh;
  color: white !important;
}
.less-photos-button-hide {
  display: none;
  opacity: 0%;
  transition: 1s all;
}
.less-photos-button-show {
  margin-top: 5vh;
  justify-content: center;
  display: flex;
  animation: slideUp 1s;
}

#less-photos-button {
  opacity: 100%;
  animation: slideUp 1s;
}

.rent-header {
  font-size: 40px;
  text-align: center;
}

.rent-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.table {
  max-width: 50vw;
  transition: 0.5s all;
  background-color: transparent !important;
}

.table:hover {
  transform: scale(105%);
}
.rounded-table {
  /* border: 1px solid  rgb(61, 39, 28); */
  border-radius: 10px;
}

.mail-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}
.email-form {
  max-width: 800px !important;
  /* min-width: 800px; */
}

.ubyt-card {
  background-color: rgba(219, 212, 205, 0.389);
  padding: 20px;
  border-radius: 10px;
  transform: scale(85%);
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  transition: 1s all;
  
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.115); */
}
.ubyt-card:hover {
  transform: scale(90%);
}
