html{
    font-family: 'Geologica', sans-serif;
}
body{
    font-family: 'Geologica', sans-serif;
    background-color: white;
}


#mid-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40vh; */
    color: white;
    z-index: 1;
    /* background-image: url('https://061a38cc1e.clvaw-cdnwnd.com/6bcaeae67997544c7cf5f5587b1cbe32/200000000-4188a42862/exter_3.jpg'); */
    background-image: url(./images/zamecek\ pozadi.png);
    
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  
    
}
#mid-text h1{
    font-size: 70px;
    z-index: 1;
    animation: maskUp 1s ;
}
#mid-text p{
    font-size: 30px;
    font-weight: lighter;
    z-index: 1;
}
#divider{
 background-color: white;
 width: 40vw;
 height: 1px;
 margin-bottom: 1vh;
}
#background-image{
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.navbar{
    z-index: 2;
    height: 80px;
    color: white !important; 
}
.nav-link{
    color: white !important; 
}


.darknav{
    background-color: rgb(32, 32, 32);
    animation: navColorChange .5s;
}
.lightnav{
    background-color: transparent;
    animation: navColorChangeReverse .5s;
}



@media (max-width: 767px) {
    #divider{
        display: none;
    }
    #mid-text{
        margin-top: 12vh;
        color: white;
        background-position: 30%;
        ;
    }
    #mid-text h1{
        text-align: center;
    }
    #mid-text p{
        text-align: center;
        
    }
    body{
        font-family: 'Geologica', sans-serif;
        background-color: white;
        background-image: none;

        background-color: white;
    }
    body::before {
        content: "";
        background: rgba(0, 0, 0, 0); /* Adjust the opacity (0.5) to make it darker */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1; /* Place the overlay behind the content */
    }

}

.dropdown-menu{
    animation: slideDown .4s ;
}

@keyframes slideDown {
    0%{
        
        transform:translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}


@keyframes navColorChange {
    0%{
        background-color: transparent;
        transform:translateY(-10%);
    }
    100%{
        background-color: rgb(32, 32, 32);
        transform: translateY(0%);
    }
}
@keyframes navColorChangeReverse {
    0%{
        background-color: rgb(32, 32, 32);
        transform:translateY(-10%);
    }
    100%{
        background-color: transparent;
        transform: translateY(0%);
    }
}


.news-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.news-container h2{
    font-size: 35pt;

}
.new{
    margin-top: 5vh;
    background-color: rgba(190, 191, 192, 0.226);
    padding: 10px;
    border-radius: 10px;
    width: 50vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.new h3{
    font-size: 40px;
}
.new img{
    width: 30vw;
    margin-bottom: 1vh;
    border-radius: 10px;
}

.cards-container{
    display: flex;
    flex-direction: row;
}

.card{
    width: 45vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}



/* #more-button{
    width: 15vw;
    margin-top: 2vh;
    background-color: rgb(158, 115, 77);
    outline: none;
    border: none;
    margin-bottom: 2vh;
} */


